<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.hukahuka.product.mapper.ProductMapper">
 	
 	<insert id="insertProduct" parameterType="hashmap"
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `product`
 		(
			`name`
			,`count`
			,`introduce`
			,`detail`
			,`category`
			, `price`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{name}
			,#{count}
			,#{introduce}
			,#{detail}
			,#{category}
			, #{price}
			,NOW()
			,NOW()
 		)
 	</insert>
 	
 	<insert id="insertProductImage" parameterType="map">
 	INSERT INTO `product_image`
 		(
			`productId`
			,`imagePath`
			,`createdAt`
 		)
	VALUES
 		<foreach collection="imagePath" item="img" separator=",">
	    (
	          #{productId}
	        , #{img}
	        , NOW()
	    )
    	</foreach>
 	</insert>
 	
 	<select id="selectProductList" resultType="com.hukahuka.product.domain.Product">
 		SELECT 
	 		`id`
			,`name`
			,`count`
			,`introduce`
			,`detail`
			,`category`
			,`price`
			,`buyCount`
			,`createdAt`
			,`updatedAt`
 		FROM
 		`product`
 	</select>
 	
 	<select id="selectProductListByCategory" resultType="com.hukahuka.product.domain.Product">
 		SELECT 
	 		`id`
			,`name`
			,`count`
			,`introduce`
			,`detail`
			,`category`
			,`price`
			,`buyCount`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`product`
		WHERE
			`category` = #{category}
 	</select>
 	
 	<update id="updateProductByCount" parameterType="map">
 	 	UPDATE `product`
 	 	SET
 			`count` = #{count}
 		WHERE
 			`name` = #{name}
 	</update>
 	
 	<delete id="deleteProductManagerById" parameterType="int">
 		DELETE 
 		FROM `product`
 		WHERE `id` = #{id}
 	</delete>
 	
 	<delete id="deleteProductManagerByProductId" parameterType="int">
 		DELETE 
 		FROM `product_image`
 		WHERE `productId` = #{productId}
 	</delete>
 	
 	<select id="selectProductImageByProductId" parameterType="int" resultType="com.hukahuka.product.domain.ProductImage">
 		SELECT 
	 		`id`
			,`productId`
			,`imagePath`
			,`createdAt`
 		FROM
 			`product_image`
 		WHERE
 			`productId` = #{productId}
 	</select>
 	
 	<select id="selectProductById" parameterType="int"  resultType="com.hukahuka.product.domain.Product">
 		SELECT 
	 		`id`
			,`name`
			,`count`
			,`introduce`
			,`detail`
			,`category`
			,`price`
			,`buyCount`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`product`
 		WHERE
 			`id` = #{productId}
 	</select>
 	
 	<select id="selectProductListOrderByCreated" resultType="com.hukahuka.product.domain.Product">
 		SELECT 
	 		`id`
			,`name`
			,`count`
			,`introduce`
			,`detail`
			,`category`
			,`price`
			,`buyCount`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`product`
		ORDER BY
			`createdAt` DESC
		LIMIT 10;
 	</select>
 	
 	<update id="updateBuyCount" parameterType="int">
 		UPDATE `product`
 		<foreach collection="imagePath" item="img" separator=",">
 	 	SET
 			`buyCount` = `buyCount` + 1;
 		WHERE
 			`id` = #{productId}
    	</foreach>
 	</update>
 </mapper>