<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.hukahuka.product.mapper.ProductMapper">
 	
 	<insert id="insertProduct" parameterType="hashmap"
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `product`
 		(
			`name`
			,`count`
			,`introduce`
			,`detail`
			,`category`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{name}
			,#{count}
			,#{introduce}
			,#{detail}
			,#{category}
			,NOW()
			,NOW()
 		)
 	</insert>
 	
 	<insert id="insertProductImage" parameterType="map">
 	INSERT INTO `product_image`
 		(
			`productId`
			,`imagePath`
			,`createdAt`
 		)
	VALUES
 		<foreach collection="imagePath" item="img" separator=",">
	    (
	          #{productId}
	        , #{img}
	        , NOW()
	    )
    	</foreach>
 	</insert>
 	
 	<select id="selectProductList" resultType="com.hukahuka.product.domain.Product">
 		SELECT 
	 		`id`
			,`name`
			,`count`
			,`introduce`
			,`detail`
			,`category`
			,`buyCount`
			,`createdAt`
			,`updatedAt`
 		FROM
 		`product`
 	</select>
 	
 	<update id="updateProductByCount" parameterType="map">
 	 	UPDATE `product`
 	 	SET
 			`count` = #{count}
 		WHERE
 			`name` = #{name}
 	</update>
 </mapper>