<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.hukahuka.wish.mapper.WishMapper">
 	
 	<select id="selectWishList" resultType="map">
 		SELECT
 			*
 		FROM
 			`wish`
 	</select>
 	
 </mapper>